server:
  port: 9000
  error:
    whitelabel:
      enabled: false
    path: /error
  servlet:
    session:
      timeout: 30m
      cookie:
        name: JSESSIONID
        max-age: 1800
      tracking-modes: cookie

spring:
  application:
    name: rococo-auth
  mvc:
    log-request-details: true
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 365d
  security:
    oauth2:
      authorizationserver:
        client:
          oidc-client:
            registration:
              client-id: "client"
              client-authentication-methods:
                - "none"
              authorization-grant-types:
                - "authorization_code"
              redirect-uris:
                - "http://localhost:3000/authorized"
              post-logout-redirect-uris:
                - "http://localhost:3000/logout"
              scopes:
                - "openid"
                - "profile"
            require-authorization-consent: true
            require-proof-key: true
            token-settings:
              access-token-time-to-live: 1800
              authorization-code-time-to-live: 1800
  datasource:
    url: 'jdbc:mysql://localhost:3306/rococo-auth?serverTimezone=UTC&createDatabaseIfNotExist=true'
    hikari:
      connection-timeout: 20000
      minimum-idle: 10
      maximum-pool-size: 30
      idle-timeout: 10000
      max-lifetime: 1000
      auto-commit: true
    username: root
    password: secret
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    schemas: rococo-auth
    locations: classpath:db/migration/rococo-auth
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
    generate-ddl: true
    open-in-view: false

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG

rococo-front:
  base-uri: 'http://localhost:3000'
rococo-auth:
  base-uri: 'http://localhost:9000'
